@charset "UTF-8";

//404页面样式
.NoDetail{
  min-width: 1200px;
  max-width: 100%;
  height: 900px;
  background: #fff;
  text-align: center;
  position: relative;
  .No_box{
    position: absolute;
    left: 0;top: 200px;right: 0;bottom: 0;
    height: 160px;
    >P{
      font-size: 30px;
      font-weight: bolder;
    }
  }
}
